<ul class="navbar-nav text-uppercase ml-auto" style="display:block">
        <li class="nav-item" style="float:left margin-right:45px">
            <a class="nav-link" href="/admin">admin</a>
        </li>
        <li class="nav-item" style="float:left margin-right:45px">
            <a class="nav-link" href="/">katogorize</a>
        </li>
        <li class="nav-item" style="float:left margin-right:45px">
            <a class="nav-link" href="/admin">Post</a>
        </li>
        
    </ul>