<!-- Footer -->
       
       <footer class="footer-distributed">
            <div class="logo">
                <a href="/anasayfa">
                <img src="/resimler/logo.png" alt="Logo Resmi">
            </a>
            <p class="footer-links">
                <a href="/anasayfa">Ana Sayfa</a>
                |
                <a href="/hakkinda">Hakkında</a>
                |
                <a href="/siparis">Sipariş</a>
                |
                <a href="/iletisim">iletişim</a>
                |
                <a href="/users/login">Giriş</a>
                 |
                <a href="/users/kayit">Üye Ol</a>
            </p>

            <p class="footer-company-name">Copyright © 2022 <strong>ÇİKOLATA</strong></p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Kütahya</span>
                    Merkez</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>05076600884</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>durdu.kaltakkiran@ogr.dpu.edu.tr</p>
               
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Çikolata</span>
                <strong>Çikolatar</strong> En Leziz Çikolatalar için 
                Bizi Takip Etmeyi Unutma!!!
            </p>
            <div class="footer-icons">
                <a href="https://tr-tr.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/?lang=tr"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
       </footer>

        
</body>
</html>