<!DOCTYPE html>
<html lang="tr">      
    <head>
    <meta charset="UTF-8">
                  <!-- Başlık Ve İcon -->
    <title>ÇİKOLATA</title>            
    <link href="/resimler/icon.jpg" rel="icon" type="image/jpg">                  
    <link rel="stylesheet" href="/anasayfa.css">

    <!-- Projedeki İconları Font Awesome Sitesinden Temin ettim-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Projedeki İconları BootStrap Sitesinden Temin ettim-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
                       <!-- Gecikme İçin Scrollreval Kullandı -->
    <script src="https://unpkg.com/scrollreveal"></script>

</head>
<body>
   
           {{>site-nav}}
            {{{body}}}
            
            {{>site-footer}}
   


       