    <link rel="stylesheet" href="hakkında.css">
                              <!--Bilgi Yeri-->
      <div class="section-container">
         <div class="columns image1">
            &nbsp;
         </div>
         {{#if sessionFlash.message}}
              <div class="{{sessionFlash.type}}" >
                  {{sessionFlash.message}}
              </div>
            {{/if}}
         <div class="columns content">
            <div class="content-container">
               <h5>Çikolatanın Tarihçesi</h5>
               <p>
                Çikolatanın geçmişi bundan tam 4000 yıl öncesine dayanıyor. Tarihi kaynaklara göre çikolata ilk kez Meksika topraklarında içecek şeklinde kullanılıyor. M.Ö. 1900'lerde şu anki Meksika topraklarında yaşamını sürdüren Olmekler'den önceki toplumun keşfi.
               </p>
               <p>
                Çikolata üretimi Orta Amerika'nın tropikal yağmur ormanlarına kakao tohumları ekilmesiyle ve daha sonra fermente edilerek macun haline getirilmesiyle gerçekleşiyor. İlk çikolata bugünün çikolatalarından çok farklı; sıvı halde acı bir içecek...Formülü ise şöyle: Fermente edilmiş ve macun haline getirilmiş kakao, su, vanilya, bal, acı biber ve diğer baharatlar... Olmek, Aztek ve Mayalar bu içeceğin enerji ve güç verdiğini, kişiyi mutlu ettiğini düşünerek mistik bir özelliği olduğuna inanıyorlar. 
                 </p>
                 <p>
                 Mayalar ise kakaonun büyüsüne kapılarak kakao tanrısı olduğuna inanıyor; mutluluk ve huzur için ona tapıyorlar. Bu dönemde çikolata çok değerli ve herkese sunulmayan bir içecek. Sadece kutsal seremonilerde; krallar, askerler, din adamları ve soylular tarafından içilebiliyor. Bazı kaynaklara göre, çikolatanın gücü o kadar abartılıyor ki, 16'ıncı yüzyıl Aztek kralının ve soyluların libidosunu yükseltmek için çok miktarda çikolata içtiği bile rivayet ediliyor.
                 </p> 
            </div>
         </div>
      </div>
      <div class="section-container">
         <div class="columns content">
            <div class="content-container">
               <h5>Nasıl Yayıldı ?</h5>
               <p>
                Çikolatanın Amerika’dan Avrupa’ya, oradan da dünyaya yayılması Hernan Cortes adlı İspanyol bir kaşif sayesinde oluyor. Aslına bakılırsa ilk kez Kristof Kolomb’un kakaoyu keşfettiği ama ülkesine hiç getiremediği, hatta hiç tadamadığı öne sürülüyor. Meksika’yı işgal eden denizci Cortes çikolatayı da Avrupa’ya taşıyan ilk kişi oluyor. İspanyollar ilk kez bu içeceğe şeker katarak günümüz çikolatası için önemli bir adım atıyorlar. İspanya yüz yıl gibi uzun bir süre çikolatayı diğer ülkelerden saklıyor. Ta ki İspanya Kralı III. Phillip'in kızı Prenses Anne ile Fransa Kralı XIII. Louis evlenene kadar. Çikolataya tapan prenses Fransa'ya çikolatalarını götürerek tarihe yön veriyor. Avrupa’da zamanla çikolata talebi artınca koloni ülkelerde kakao tarlaları kuruluyor ve hızla kakao üretimi başlıyor.
               </p>
               <p>
                Uzun süre aristokrat ve soyluların yiyeceği olan çikolatanın üretimi, Hollandalı kimyager Coenraad Johannes van Houten'ın icadı kakao makinesiyle bir devrime uğruyor. 1828'de icat edilen makine kakao yağını kavrulmuş kakao tohumlarından ayırıyor ve geriye kalan çikolata kuru bir toza dönüşebiliyor. Bu toz; sıvı ve başka malzemeler ile karıştırılabiliyor, katılaştırılıp yenilebilen, kolay hazmedilen çikolata haline geliyor.
               </p>
               <p>
                Çikolata üretiminin fiyatı bu şekilde düşüyor ve bu, çikolatayı sıradan insanların da ulaşabileceği bir yiyecek haline getiriyor
               </p>
               <p>
                lk kez 1847’de, J.S. Fry & Sons adlı bir İngiliz şirketi yenilebilir katı çikolatayı üreterek çikolata tarihinde önemli bir gelişmeyi gerçekleştiriyor. Rodolphe Lindt ise 1879’da kakao yağını homojen bir şekilde kakao tozuyla karıştıran bir makine üreterek kadife dokulu ve daha lezzetli bir çikolata üretiyor. 
               </p>
            </div>
         </div>
         <div class="columns image2">
            &nbsp;
         </div>
      </div>
      <div class="section-container">
         <div class="columns image3">
            &nbsp;
         </div>
         <div class="columns content">
            <div class="content-container">
               <h5>Osmanlıda Çikolatanın Yeri</h5>
               <p>
                “Çikolatanın on dokuzuncu yüz yılın başında İstanbul’da satılmakta olduğuna dair ilk ipucunu bir ekonomi sayfasına borçluyuz. 1857 senesinde, Journal de Constantinople gazetesi, yüz yılın ilk otuz yılında bazı ihtiyaç kalemlerinin fiyatlarının karşılaştırıldığı bir liste yayımlamıştı.
               </p>
               <p>
                Bu listede 1804 yılında çikolata da vardır. Okkası (aşağı yukarı bir kilo iki yüz elli gram diyelim) 5 kuruş olan çikolata, bu haliyle aynı sene okkası yüz para olan gravyer peynirinden iki kat, 32 paraya satılan tavuktan yaklaşık altı kat daha pahalıydı.”
               </p>
               <p>
                “Osmanlı piyasası çikolatayı bir içecek olarak değil katı haliyle, özellikle sütlü İsviçre çikolatalarının gelişiyle benimsemişti. Son yıllarda bir düşüş gözlense de sütlü çikolata Türkiye’de hâlâ beyaz ya da bitter çikolatadan daha fazla tüketiliyor. Bugün bitter’in yükselişi köklü alışkanlığımızın değişmeye başladığının işaretidir.”
               </p>
                <h5>Kaynakça:</h5>
                <p>
                *ÇUKULATA Çikolatanın Yerli Tarihi kitabından
               
                </p>
                <h5>Yazar:Saadet Özen</h5>           
               </p>
            </div>
         </div>
      </div>
             <!--resimler 250 şer milisaniye geç yükleniyor-->
    <script>
        ScrollReveal().reveal('.columns.image1', { delay: 250 });
        ScrollReveal().reveal('.columns.image2', { delay: 750 });
        ScrollReveal().reveal('.columns.image3', { delay: 1000 });
    </script>
</body>
</html>