
<form action="/posts/test" method="post">
                    
                        <textarea name="title" rows="5" placeholder="Post Başlığı" required></textarea>
                         <textarea name="content" rows="5" placeholder="Post İçeriği" required></textarea>
                        <input type="submit" name="gonder" class="send-btn" value="Add Post">
                    </form>