<link rel="stylesheet" href="sipariş.css">
              <!--Ürün Satış Yeri-->
                    <!--Referans:https://www.youtube.com/watch?v=ZI41tLLxNak -->
<div class = "products">
     <div class = "container">
       <h1 class = "lg-title">Çikolata Satış Pazarı</h1>
         <p class = "text-light">En Leziz Çikolatalar Seni Bekliyor</p>
          <div class = "product-items">
                <!-- Çikolata Satış Alanları -->
     <div class = "product">
        <div class = "product-content">
         <div class = "product-img">
         <img src = "resimler/Bitter.jpg" alt = "Bitter Çikolata">
            </div>
             <div class = "product-btns">
            <button type = "button" class = "btn-cart"> Sepete Ekle
                     <span><i class = "fas fa-plus"></i></span>
                    </button>
                    <button type = "button" class = "btn-buy"> Satın Al
                        <span><i class = "fas fa-shopping-cart"></i></span>
                         </button>
                         </div>
                      </div>

                 <div class = "product-info">
                 <div class = "product-info-top">
                       <h2 class = "sm-title">Puan</h2>
                      <div class = "rating">
                      <span><i class = "fas fa-star"></i></span>
                           <span><i class = "fas fa-star"></i></span>
                           <span><i class = "fas fa-star"></i></span>
                           </div>
                                </div>
                         <a href = "anasayfadeneme.html" class = "product-name">Bitter Çikolata</a>
                      <p class = "product-price">100 ₺</p>
                       <p class = "product-price">75 ₺</p>
                     </div>
                    <div class = "off-info">
                  <h2 class = "sm-title">25% İndirim</h2>
                    </div>
                        </div>
                
         <div class = "product">
         <div class = "product-content">
              <div class = "product-img">
                  <img src = "resimler/Özel Seri.jpg" alt = "Özel Çikolata">
             </div>
                 <div class = "product-btns">
                    <button type = "button" class = "btn-cart"> Sepete Ekle
                     <span><i class = "fas fa-plus"></i></span>
                     </button>
                     <button type = "button" class = "btn-buy"> Satın Al
                      <span><i class = "fas fa-shopping-cart"></i></span>
                     </button>
                     </div>
                     </div>
        
                    <div class = "product-info">
                        <div class = "product-info-top">
                              <h2 class = "sm-title">Puan</h2>
                             <div class = "rating">
                           <span><i class = "fas fa-star"></i></span>
                             <span><i class = "fas fa-star"></i></span>        
                            </div>
                                </div>
                                <a href = "#" class = "product-name">Özel Çikolata</a>
                                <p class = "product-price">100 ₺</p>
                                <p class = "product-price">99 ₺</p>
                            </div>
                        </div>
                      
            <div class = "product">
                 <div class = "product-content">
                      <div class = "product-img">
                      <img src = "resimler/fındıklı.jpg" alt = "Fındıklı Çikolata">
                       </div>
                           <div class = "product-btns">
                             <button type = "button" class = "btn-cart"> Sepete Ekle
                           <span><i class = "fas fa-plus"></i></span>
                            </button>
                             <button type = "button" class = "btn-buy"> Satın Al
                              <span><i class = "fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </div>
        
                 <div class = "product-info">
                         <div class = "product-info-top">
                           <h2 class = "sm-title">Puan</h2>
                              <div class = "rating">
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "far fa-star"></i></span>
                                    </div>
                                </div>
                         <a href = "#" class = "product-name">Fındıklı Çikolata</a>
                         <p class = "product-price">100 ₺</p>
                         <p class = "product-price">50 ₺</p>
                            </div>
                        </div>
                    
            <div class = "product">
                  <div class = "product-content">
                    <div class = "product-img">
                        <img src = "resimler/antep Fıstıklı.jpg" alt = "Antep Fıstıklı Çikolata">
                           </div>
                           <div class = "product-btns">
                         <button type = "button" class = "btn-cart"> Sepete Ekle
                          <span><i class = "fas fa-plus"></i></span>
                            </button>
                        <button type = "button" class = "btn-buy"> Satın Al
                              <span><i class = "fas fa-shopping-cart"></i></span>
                      </button>
                      </div>
                            </div>
        
                       <div class = "product-info">
                         <div class = "product-info-top">
                             <h2 class = "sm-title">Puan</h2>
                              <div class = "rating">
                                <span><i class = "fas fa-star"></i></span>
                               <span><i class = "fas fa-star"></i></span>
                           <span><i class = "fas fa-star"></i></span>
                               </div>
                                </div>
                                <a href = "#" class = "product-name">Antep Fıstıklı Çikolata</a>
                                <p class = "product-price">150 ₺</p>
                                <p class = "product-price">75 ₺</p>
                            </div>
        
                            <div class = "off-info">
                                <h2 class = "sm-title">50% indirim</h2>
                            </div>
                        </div>
                     
                        <div class = "product">
                            <div class = "product-content">
                                <div class = "product-img">
                                    <img src = "resimler/Bademli.jpg"alt = "Bademli Çikolata">
                                </div>
                                <div class = "product-btns">
                                    <button type = "button" class = "btn-cart"> Sepete Ekle
                                        <span><i class = "fas fa-plus"></i></span>
                                    </button>
                                    <button type = "button" class = "btn-buy"> Satın Al
                                        <span><i class = "fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </div>
        
                            <div class = "product-info">
                                <div class = "product-info-top">
                                    <h2 class = "sm-title">Puan</h2>
                                    <div class = "rating">
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "far fa-star"></i></span>
                                    </div>
                                </div>
                                <a href = "#" class = "product-name">Bademli Çikolata</a>
                                <p class = "product-price">150 ₺</p>
                                <p class = "product-price">95 ₺</p>
                            </div>
                        </div>
                       
                        <div class = "product">
                            <div class = "product-content">
                                <div class = "product-img">
                                    <img src = "resimler/açık.jpg"alt = "Sütlü Çikolata">
                                </div>
                                <div class = "product-btns">
                                    <button type = "button" class = "btn-cart"> Sepete Ekle
                                        <span><i class = "fas fa-plus"></i></span>
                                    </button>
                                    <button type = "button" class = "btn-buy"> Satın Al
                                        <span><i class = "fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </div>
        
                            <div class = "product-info">
                                <div class = "product-info-top">
                                    <h2 class = "sm-title">Puan</h2>
                                    <div class = "rating">
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "far fa-star"></i></span>
                                    </div>
                                </div>
                                <a href = "#" class = "product-name">Sütlü Çikolata</a>
                                <p class = "product-price">50 ₺</p>
                                <p class = "product-price">80 ₺</p>
                            </div>
                        </div>
                        
                        <div class = "product">
                            <div class = "product-content">
                                <div class = "product-img">
                                    <img src = "resimler/Kalpli.jpg"alt = "Kalpli Çikolata">
                                </div>
                                <div class = "product-btns">
                                    <button type = "button" class = "btn-cart"> Sepete Ekle
                                        <span><i class = "fas fa-plus"></i></span>
                                    </button>
                                    <button type = "button" class = "btn-buy"> Satın Al
                                        <span><i class = "fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </div>
        
                            <div class = "product-info">
                                <div class = "product-info-top">
                                    <h2 class = "sm-title">Puan</h2>
                                    <div class = "rating">
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        
                                    </div>
                                </div>
                                <a href = "#" class = "product-name">Kalpli Çikolata</a>
                                <p class = "product-price">90 ₺</p>
                                <p class = "product-price">80 ₺</p>
                            </div>
                        </div>
                      
                        <div class = "product">
                            <div class = "product-content">
                                <div class = "product-img">
                                    <img src = "resimler/Karışık.jpg"alt = "Karışık Çikolata">
                                </div>
                                <div class = "product-btns">
                                    <button type = "button" class = "btn-cart"> Sepete Ekle
                                        <span><i class = "fas fa-plus"></i></span>
                                    </button>
                                    <button type = "button" class = "btn-buy"> Satın Al
                                        <span><i class = "fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </div>
        
                            <div class = "product-info">
                                <div class = "product-info-top">
                                    <h2 class = "sm-title">Puan</h2>
                                    <div class = "rating">
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        <span><i class = "fas fa-star"></i></span>
                                        
                                    </div>
                                </div>
                                <a href = "#" class = "product-name">Karışık Çikolata</a>
                                <p class = "product-price">100 ₺</p>
                                <p class = "product-price">60 ₺</p>
                            </div>
        
                            <div class = "off-info">
                                <h2 class = "sm-title">40% indirim</h2>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        
            <div class = "product-collection">
                <div class = "container">
                    <div class = "product-collection-wrapper">
                        <!-- Bilgi Ve Yönlendirme Alanı -->
                        <div class = "product-col-left flex">
                            <div class = "product-col-content">
                                <h2 class = "sm-title">Çikolata</h2>
                                <h2 class = "md-title">Özel Seri Çikolata </h2>
                                <p class = "text-light">En Özel Çikolatımızı Denemeye Hazır mısın ?</p>
                                <a href="sepet.html"></a>
                                <button type = "button" class = "btn-dark">Satın Al</button>
                            </div>
                        </div>
                       
                        
                        <div class = "product-col-right">
                            <div class = "product-col-r-top flex">
                                <div class = "product-col-content">
                                    <h2 class = "sm-title">Çikolata </h2>
                                    <h2 class = "md-title">En Çok Tercih Edilen</h2>
                                    <p class = "text-light">En Çok Tercih Edilen Çikolatayı Almak İçin Neyi Bekliyorsun ?</p>
                                    <a href="sepet.html">
                                    <button type = "button" class = "btn-dark">Satın Al</button>
                                </a>
                                </div>
                            </div>
        
                            <div class = "product-col-r-bottom">
                             
                                <div class = "flex">
                                    <div class = "product-col-content">
                                        <h2 class = "sm-title">Haberler </h2>
                                        <h2 class = "md-title">Ekstra %20 İndirim </h2>
                                        <p class = "text-light">Üye Olan Üyelerimize %20 İndirim!!!.Üye Olmak İçin Neyi Bekliyorsun ?!!</p>
                                        <a href="login.html">
                                        <button type = "button" class = "btn-dark">Üye Ol</button>
                                    </a>
                                    </div>
                                </div>
                            
                                <div class = "flex">
                                    <div class = "product-col-content">
                                        <h2 class = "sm-title">Çikolata </h2>
                                        <h2 class = "md-title">İletişim</h2>
                                        <p class = "text-light">Bizlerle iletişime geçebilirsiniz. </p>
                                        <a href="iletişim.html"> 
                                        <button type = "button" class = "btn-dark">İletişim</button>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
