  <link rel="stylesheet" href="cart.css">
  <div class="cart-page">
                <table>
                    <tr>
                        <th>Ürün</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                    </tr>
                    <tr> 
                    <td>
                        <div class="cart-info">
                            <img src="resimler/açık.jpg">
                        <div>
                        <p>Bihter Çikolata</p>
                        <small>Fiyat: 100</small>
                        <a href="">Sil</a>
                    </div>
                </div>

            </td>
                    <td><input type="number" value="1"</td>
                    <td>100</td>
                </tr>
            </tr>
            <tr> 
            <td>
                <div class="cart-info">
                    <img src="resimler/açık.jpg">
                <div>
                <p>Bihter Çikolata</p>
                <small>Fiyat: 100</small>
                <a href="">Sil</a>
            </div>
        </div>

    </td>
            <td><input type="number" value="1"</td>
            <td>100</td>
        </tr>
    </tr>
    <tr> 
    <td>
        <div class="cart-info">
            <img src="resimler/açık.jpg">
        <div>
        <p>Bihter Çikolata</p>
        <small>Fiyat: 100</small>
        <a href="">Sil</a>
    </div>
</div>

</td>
    <td><input type="number" value="1"</td>
    <td>100</td>
</tr>
                </table>
                <div class="total">
                    <table>
                        <tr>
                            <td>Ara Toplam</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>İndirim</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Toplam</td>
                            <td>280</td>
                        </tr> 
                        
                    </table>
                    
                </div>
                <a href="" class="btn">&#9755;Tıkla&#9754;</a>
            </div>